.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/Dabancopy.png");
  background-position: 50% 50%;
  margin: 44px auto 60px 30px;
}